@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

$gray-100: #f0f0f0;
$gray-200: #e9e9e9;
$gray-300: #dedede;
$gray-400: #cecece;
$gray-500: #adadad;
$gray-600: #6c6c6c;
$gray-700: #494949;
$gray-800: #343434;
$gray-900: #212121;

$body-bg: $gray-900;
$body-color: $gray-200;

$font-family-base: $font-family-monospace;
$fa-font-path: "@fortawesome/fontawesome-free/webfonts";
